.mini-search-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.mini-search-box {
    height: 30px;
    margin-left: 1rem;
    padding: 5px;
    font-family: 'RuneScape UF';
    font-size: 1.5em;
}